<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Ba Accounting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'front/AdminLTE/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/AdminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <style> 
        .wrapper{
            min-height: 100vh;
        }
    </style>
</head>
<body class="sidebar-mini" style="background-color: F4F6F9;" >
    {% csrf_token %}
    <div id="root"></div>
    {% load static %}
    <script src="{% static "front/bundle.js" %}"></script>
    <script src="{% static "front/AdminLTE/plugins/jquery/jquery.min.js" %}"></script>
    <script src="{% static "front/AdminLTE/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "front/AdminLTE/plugins/jquery/jquery.slim.js" %}"></script>
    <script src="{% static "front/AdminLTE/dist/js/adminlte.min.js" %}"></script>
</body>
</html>